.img{
    height: 200px;
}
.card-container{
    padding: 2%;
}
.clicks{
    position: absolute;
    box-shadow: 3px 4px 8px rgb(192, 185, 185);
    left: 75%;
    top: 25px;
    padding: 10px 25px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1rem;
    color: rgb(69, 31, 105);
    display: flex;
    justify-content: space-between;
}
.search-box{
    margin: 20px 30px;
    margin-left: 50%;
    border: none;
    border-radius: 20px;
    padding: 15px;
    width: 40%;
    font-weight: 400;
    transform: translate(-50%,-50%);
    margin-top: 50px;
    outline: none;
    box-shadow: 5px 4px 8px rgb(192, 185, 185);
}
.card{
    margin-top:25px;
    box-shadow: 1px 1px 1px rgb(224, 220, 220);
    /* border-radius: 25px; */
    overflow: hidden;
    /* border:1px solid rgb(168, 167, 167); */
    transition: 0.3s;
    padding-bottom: 5px;
}
.text{
    height: 25px;
    margin-left: 10px;

    overflow: hidden;
}
.title{
    margin: 10px;
}
.card:hover{
    box-shadow: 3px 3px 10px rgb(202, 189, 189);
}
/* @media (max-width:"800px") {
    .card-container{
        padding: 30px;
    }
} */